<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="refresh" content="5" charset="UTF-8">
    <title>Moder Panel</title>
</head>
<body>
  <h1>You Enter Moder Panel</h1>
   <h2 th:text="${person.name}">Person</h2>
  <div th:each="post:${posts}">

           <form  th:action="@{/person/send(postId=${postId})}" th:method="GET">
               <b><i th:text="${post.author.name}+': '">name</i></b>
               <span th:text="${post.text}+'   '">post</span>
              <input  type="hidden" name="postId" th:value="${post.postId}">
          <input th:if="${post.author.id!=1486585150}" type="submit" value="Send message">
      </form>

  </div>
  <hr/>
  <h3>
      <a href="/">Main</a>
  </h3>
</body>
</html>